/**
 * default style
 */
html
{
	/*clear spaces*/
	margin: 0px;
	padding: 0px;
	width: 100%;
	/*setting the width of the app*/
	
		
}
body
{
	
	font-family: "Lato",sans-serif;
	height: 100%;
	min-width: 320px;


}
section:first-child
{
	margin-bottom: 0px;
	margin-top: 0px;
}

section
{
	width: 100%;
	height: 100%;
	margin-bottom: 100px;
	margin-top: 50px;
}
/* default size and weight for text */
p
{
	 font-size: 13px;
	 font-weight: 300; 

}
/**
 * custom style
 */
.row{
	margin: 0px !important;
}
/*div .hght{
	height: 50% !important;
}*/
/*removing the spaces outside the headings*/
.hght h3, .hght h2
{
	margin: 0px;

}

.hght .ab_scr
{
	margin-bottom: 5em;
}
.hght .ab_scr h3
{
	padding-top: 0.2em;

}

.hght .ab_scr h3 span,
.hght .ab_scr h2 span
{
	background-color: #e5f0f3;
}
.laws
{
	border-left: 2px solid #5199ad;			
	text-align: left;
	padding-left:20px; 
}
.laws h3
{
	color: #5199ad;
	/*font-weight: 600;*/
}



/*about questions and answers div style*/
.ab_d .row  div:last-child
{
	border-left: 1px solid #757575;
	padding-left: 5em;
	text-align: left;
}
/*setting the container´s height for questions and answers*/
.ab_d .row div
{
	height: 100%;
}
.ab_d .row
{
	height: auto;

}
/*container of the images for questions and answers*/
.ab_d .row div:first-child
{
	padding-right: 5em;
	text-align: right;
}
/*images for questions and answers*/
.ab_d .row div img
{
	width: 90px;
	height: 90px;
}
/*heading for questions and answers*/
.ab_d .row div h3{
	font-weight: 700;
	font-size: 20px;
}
/*ansewrs for questions and answers*/
.ab_d>p{
	font-size: 15px;
	width: 530px;
}
/*.ab{
	border: 1px solid #757575;

}*/

/* about view colors */
.ab_scr
{
	color:  #5199ad
}
.ab_br
{
	color:   #b7621c
}
.ab_dcr
{	
	color:  #254f75
}
.ab_vy
{
 	color:  #d1bd42;
}
.ab_lb
{
	background-color: #e5f0f3;
}
/*.hght>div>.vet-line-laws{
	background-color: blue;
	border-left: 2px solid #000;

}*/
/**
 * custom to override the boostrapp
 */

/*col{border: none}*/


/*******nkgethwa page home view*/
/** color */
.home h1{
	/*text-align: center;*/
}
.home p{
	text-align: left;
}
.home-footer .text-white{
	color: #ffffff;
}
.home-footer img
{
	width: 70px;
	height: 70px;
}
.home-footer 
{
	margin-top: 5em;
}
.home-footer h3
{
	margin: 0px;
	padding: 0px;

}
.home-footer h3:first-child
{
	margin-top: 5em;
	/*padding-right: 3em;*/
	font-weight: 400;
}
.home-footer h3:nth-of-type(2)
{
	font-weight: 600;
	margin-bottom:5em; 
	
}
/* *******************small media************* */
@media (max-width: 1024px) {
	p{
		font-size: 0.9em
	} 
	.home-footer{
		height: auto;
	}
}
@media (max-width: 768px) 
{	.row {
		margin-right: 0px;
		margin-left: 0px;

		}
	.ab_d .row div:first-child
	{
		text-align: center;
	}
	.ab_d .row div:last-child
	{
		
		margin-bottom:2em;
		padding: 0px;	
		border: none;	
		height:auto;
		text-align: left;

	}
	.ab_d .row div
	{
		height: auto;
	}
}

/*@media (min-width: 1199) {
	.ab_d p{
		width: 90%;
	} 
}*/