/* mouse button scroller*/ 
@-webkit-keyframes scrollDownKnobAnimation {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(0,150%,0);
        transform: translate3d(0,150%,0)
    }
}

@-moz-keyframes scrollDownKnobAnimation {
    0% {
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -moz-transform: translate3d(0,150%,0);
        transform: translate3d(0,150%,0)
    }
}

@keyframes scrollDownKnobAnimation {
    0% {
        transform: translate3d(0,0,0)
    }

    100% {
        transform: translate3d(0,150%,0)
    }
}

.scroll-down {
    position: absolute;
    width: 150px;
    bottom: 20px;
    left: 50%;
    margin-left: -75px;
    z-index: 50;
    display: block;
    text-align: center;
    font-size: 12px;
    -webkit-font-smoothing: antialiased
}

.scroll-down .icon {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 26px;
    height: 44px;
    display: block;
    border-radius: 13px;
    border: 2px solid #b3b3b3;
    margin: 0 auto
}

.scroll-down .icon:before {
    transition: all .3s ease;
    width: 6px;
    height: 6px;
    -webkit-animation: scrollDownKnobAnimation 2s ease infinite;
    -moz-animation: scrollDownKnobAnimation 2s ease infinite;
    -o-animation: scrollDownKnobAnimation 2s ease infinite;
    animation: scrollDownKnobAnimation 2s ease infinite;
    position: absolute;
    top: 6px;
    border-radius: 50%;
    background-color: #b3b3b3;
    content: '';
    left: 50%;
    margin-left: -3px
}

.scroll-down .icon:before,.scroll-down span {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease
}

.scroll-down span {
    /* transition:all .3s ease; */
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -24px;
}

/*****************************banner***********************************/
.banner {
    height:100vh;
    width: 100%;
    background: url('../images/main_banner_simulation.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.logo{
    padding-top: 100px;  
}
#img-logo {
    height: 9vh;
    width: 10vw;
    position: absolute;
    top: 56px;
    right: 45%;
}
.banner-text>h1{
    /*font-size: 2.5em;*/
    margin-top: 30vh;
    text-align: center;
    text-shadow: 2px 2px #000;
    color: #FFFFFF;
    font-weight: 600;
}
.banner-text>h2{
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px #000;
    color: #FFFFFF;
    font-weight: 300;
}
/**************image with parallex effect************************/
.home-footer{
    height: 56vh;
    width: 100%;
    background: url('../images/2nd_banner_parallax_simulation2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}
/***************image before the acordion***********************/
.politica-header{
    padding-top: 50px;
    height: 39vh;
    width: 100%;
    background: url('../images/banner_politicaprivacidade.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative; 
    margin-bottom: 100px;
}
/**************page footer***************/
.footer_fixed{
    margin-top: -15px;
    width: 100%;
    color: #C2C3C4;
    background-color: #363B3D;
}
footer>div>h4{
    font-weight: bold;
    padding-top: 30px
}

/**************politica_privada***************/
.arrows{
width: 20px; 
height: 15px;
}
/*set the size of the container with contact details*/
.body-wrap{
   height: 25vh;
}

.body-wrap >p{
    margin-bottom: 150px;
    font-weight: 600px;
}
.panel-title{
    font-size: 1.5em;
    color:  #254F75;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px
}
.panel > a:hover, 
.panel > a:active, 
.panel > a:focus  {
    text-decoration:none;
    
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.panel-body>ul{
    padding-left: 15px;
    list-style-type: disc;
}

.panel-body>ul.dashed {
  list-style-type: none;
  padding-left: 0px;
}
.panel-body>ul.dashed > li {
  /*text-indent: -5px;*/
}
.panel-body>ul.dashed > li:before {
  content: "- ";
  /*text-indent: -5px;*/
}
.panel-group .panel-heading {
    padding: 20px;
    border-bottom: solid 1px;
    border-color: #9FB1C2;
    padding-bottom: 30px;
}
.panel-heading:hover{
    background-color: #d3d3d33b;
}
/* this is the text on top of politica heading*/
fieldset{
    height: 26vh;
    padding-left: 400px; 
    border: 4px solid white;
}
fieldset>legend>h1{
    color: #FFFFFF;
}
fieldset>h3{
    margin-top: 30px;
    color: #FEFEFE;
    /*text-align: center;*/
    margin:0 auto;
}
legend{
    margin:0 auto;
    /*text-align: center;*/
    border: 0;
    width:auto; 
    padding: 15px;
}

/* media queries start here*/
@media (max-width: 1024px){
    #img-logo {
        height: 100px;
        width: 80px;
        top: 20px;
        left: 45%;
    }

    .banner-text>h1 {
        margin-top: 25vh;
    }
    .footer_fixed {
        margin-top: 65px;
    }
    fieldset {
        height: 23vh;
    }
    legend>h1 {
        font-size: 20px;
    } 
    fieldset>h3 {
        font-size: 16px;
    }
}